.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__time-scale {
    height: 100%;
    width: 48px;
  }
}

.time-slot {
  height: 60px;
  width: 48px;
  text-align: right;

  &__time {
    opacity: 0.7;
    margin-right: 4px;
    top: -12px;
    font-size: 12px;
  }
}
